<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="contactform-inputs">

    <label for: "name">Name:</label>
  	<%= f.input :name, label: false, required: true, autofocus: true, input_html: {id: 'name'} %>
    <label for: "email">Zombmail:</label>
    <%= f.input :email, label: false, required: true, autofocus: true, input_html: {id: 'email'}%>
    <label for: "password">Password:</label>
    <%= f.input :password, label: false, required: true, input_html: {id: 'password'}%>
    <label for: "password">Confirm password:</label>
    <%= f.input :password_confirmation, label: false, required: true, input_html: {id: 'password'}%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
