#commentbar
	%ul.commentmenu
		- @comments.each do |comment|
			%li
				= t('.written')
				= link_to comment.commenter.name, comment.commenter
				= t('.on')
				= comment.publish_date.to_formatted_s(:long_ordinal)
				-if comment.entry.author ==  @c_author
					= link_to t('.flag_un'), inappropiate_entry_comment_path(@entry, comment), :method => :put
				%br/
				%span= comment.content

	= simple_form_for [@entry , Comment.new], :html=> { id: 'contactform' } do |f|
		
		- if @c_author.nil?
			%p= t('.post')
			%label{for: "name"} #{t('.name')}
			= f.input :name, label: false, required: true, input_html: {id: 'name'}
			%label{for: "email"} #{t('.mail')}
			= f.input :email, label: false, required: true, input_html: {id: 'email'}

		- else
			%p
				= t('.post')
				,
				= link_to @c_author.name, @c_author

		%label{for: "content"} #{t('.comment')}
		= f.input :content, label: false, input_html: {id: 'content'}
		= f.button :submit 