= simple_form_for @entry, :html=> { id: 'contactform' } do |f|
	.form-group
		= f.label t('.title')
		%br
		= f.input :title, label: false, required: true, input_html: {id: 'title'}
	.form-group
		= f.label t('.publish_date')
		%br
		= f.date_select :publish_date, required: true, input_html: {id: 'date'} 
		= f.time_select :publish_date, required: true, input_html: {id: 'date'} 
	.form-group
		= f.label t('.content')
		%br
		= f.input :content, label: false, input_html: {id: 'content'}
	= f.button :submit