%h2= @entry.title

%p.post-info 
	= t('.written')
	= link_to @entry.author.name, @entry.author
	| 
	= t('.tags')
	- @entry.tags.each do |tag|
		=link_to format_tag(tag.name), tag

%p= @entry.content

%p.postmeta
	=pluralize(@entry.comments.size , t('.comment'))
	|
	%span.date= @entry.publish_date.to_formatted_s(:long_ordinal)
	-if @entry.author == @c_author
		|
		#{link_to t('.edit_entry'), edit_entry_path(@entry) }
		|
		#{link_to t('.delete_entry'), @entry, :method => :delete}  

= render partial: 'comment_box'				