-if @c_author.nil?
	%h3= t('.guest')

	%ul.sidemenu
		%li
			= link_to t('.sign_up'), new_author_registration_path
			|
			\#{link_to t('.log_in'), new_author_session_path}

-else
	%h3=link_to @c_author.name, @c_author

	%ul.sidemenu
		%p
			%img.float-left{src:"../app/assets/images/firefox-gray.jpg", width:"40", height:"40", alt:"firefox"}/
			%h4= t('.zombiography')
			%p= @c_author.bio

			%p.postmeta
				= pluralize(@c_author.comments.size, t('.comment'))
				|
				\#{pluralize(@c_author.entries.published.size, t('.entry'))}
			%li
				= link_to t('.publish_entry'), new_entry_path
				|
				\#{link_to t('.log_out'), destroy_author_session_path}