%h2=@author.name

%p
	%img.float-left{src:"../app/assets/images/firefox-gray.jpg", width:"100", height:"120", alt:"firefox"}/
	%h4= t('.zombiography')
	%p= @author.bio
	%h4
		= t('.mail') 
		= @author.email

%p.postmeta
	= pluralize(@author.comments.size, t('.comment'))
	|
	\#{pluralize(@author.entries.published.size, t('.entry'))}

%h2= t('.published')
- @entries.each do |entry|
	%blockquote
		%h4= link_to entry.title, entry
		%p.align-right= entry.publish_date.to_formatted_s(:long_ordinal)