%h2= @tag.name
	
%p.postmeta
	= pluralize(@entries.size, t('.entry'))

%h2=t('.related')

- @entries.each do |entry|
	%blockquote
		%h4= link_to entry.title, entry	
		%p.align-right= entry.publish_date.to_formatted_s(:long_ordinal)