<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="contactform">
  	<label for: "email">Zombmail:</label>
    <%= f.input :email, label: false, required: true, autofocus: true, input_html: {id: 'email'}%>
    <label for: "password">Password:</label>
    <%= f.input :password, label: false, required: true, input_html: {id: 'password'}%>
    <label for: "remember_me">Remember me:
    <%= f.input :remember_me, label: false, as: :boolean if devise_mapping.rememberable? %></label>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>