!!!
/[if IE 7 ] <html class="ie7 oldie">
/[if IE 8 ] <html class="ie8 oldie">
/[if IE 9 ] <html class="ie9">
/ [if (gt IE 9)|!(IE)]><!
%html
	/ <![endif]
	
	%head
		%meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
		%meta{charset: "utf-8"}/
		%meta{content: "", name: "description"}/
		%meta{content: "", name: "author"}/
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
		%title= t('.zombie_blog', :default => 'Zombie Blog')
		/[if lt IE 9]
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	
	%body
		/ wrap starts here
		#wrap
			/ header
			#header
				%h1#logo-text= link_to t('.zombie_blog', :default => 'Zombie Blog'), root_path
				%p#intro= t('.description')
			/ header ends
			
			/ content-wrap starts
			#content-wrap
				#main
					- flash.each do | name, msg|
						= content_tag :div, msg, id: "flash_#{name}"
					= yield
				/ main ends
				/ sidebar starts
				#sidebar
					= render partial: "authors/current_author"
					= render partial: "layouts/lang"
					= render partial: 'layouts/tags_cloud'
				/ sidebar ends
			/ content-wrap ends

			/ footer starts here
			#footer
				#footer-left
					%p
						\
						= t('.zombieright', :default => '© Zombieright info here')	 
						= t('.creator', :default => 'Created by Javier Pradillo')
				#footer-right
					%p.align-right
						%a{href: "index.html"} Home
						|
						%a{href: "index.html"} Sitemap
						|
						%a.rssfeed{href: "index.html"} RSS Feed
			/ footer ends here
		/ wrap ends here
